#cont {
    width: 50vw;
    height: 60vh;
    margin: 20vh auto; /* center later */
    /* border: 1px solid #eee; */
}

#cont h1 {
    text-align: center;
}

/*-- header --*/
#header {
    text-align: center;
}

/*-- check in sectoin --*/
#check-in {
    text-align: center;
}

#check-in h1 {
    font-size: 1.5rem;
}

#check-in input[type=text] {
    margin: auto;
    width: 100%; /* going out of the contianer for some reason */
    height: 80%; /* need better dimensions - later */
    text-align: center;
    border: none;
    font-size: 1rem;
}

.emotion i {
    font-size: 2rem;
    display: inline-block;
}

.emotion i:hover {
    cursor: pointer;
}

/*-- journal --*/
#journal textarea {
    height: 50vh;
    text-align: left;
    border: 1px solid #eee;
    width: 100%;
}

/*-- animal pic --*/
#animal-img img {
    max-width: 100%;
    max-height: 100%;
}

/*-- panic button --*/
button#panic {
    background: red;
    color: white;
    font-size: 3rem;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0 1rem #999;
    transition:0s;
    margin-top: 5rem;
}

button#panic:hover {
    background: darkred;
}

button#panic:active {
    background-color:darkred;
    box-shadow: 0 0.5rem #666;
    transform: translateY(0.5rem);
    transition:0s;
  }

button#panic-reset {
    margin-top: 4rem;
}

/*-- tracker --*/
#tracker {
    background: var(--lightgreen);
    padding: 1rem 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 500px;
    display: none;
}

#calendar {
    width: 595px;
    display: flex;
    flex-wrap:wrap;
}

#calendar .day {
    width: 80px;
    height: 80px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 5px 5px 0;
    text-align: center;
    font-size: 1.2rem;
}

.day:hover {
    cursor: pointer;
}

button#exit {
    float:right;
}

.container {
    width: 70vw;
    margin: auto;
}